<!doctype html>
<html lang="en">
    <head>
        <style>
         body {
             margin: auto;
             padding: auto;
             background: white;
         }
        </style>
        <meta charset="UTF-8"/>
        <title>Traductor de articulos</title>
    </head>
    <body>
        <form action="", method="post">
            <h1>Introduce una URL a traducir</h1>
            <input name="url" type="text" required/>
            <button>Traducir</button>
        </form>
    </body>
</html>
